@media only screen and (min-width: 1800px) {
    .marble-bg {
        background-image: url("images/marble-bg.jpg");
    }
}



@media only screen and (max-width: 1000px) {

    .marble-bg{
        background-position:2.4em 0;
    }
    .main {
        display: inline-block !important;
    }
    h1, .cooper {
       
    }
    #about-statement {
        margin-bottom: 3.2em;
    }
    .two-col {
        padding-left:0;
        padding-right:0;
    }
    
    .two-col:first-child {padding-right:0;}
    .two-col:last-child {padding-left:0;}
    .two-col {width:100%;}
    .container {width:100%;}
    .list {padding-right:1.6em !important;}
}







/** FOOTER **/
@media only screen and (max-width: 1120px) {
    .footer-col {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 0.8em;
    }
    .footer-col:last-child {margin-bottom: 0;}
    footer .float-right {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    footer .ig-handle {margin-bottom: 0;}
    footer .logo {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
}







/********** NAVIGATION **********/

@media only screen and (max-width: 940px) {
    
    #nav li:first-child {
        order: 1;
        flex: 1 100%;
    }
    #nav li:nth-child(2) {
        order: 2;
        flex: 1 auto;
        text-align: right;
        margin-right: 0.8em;
        
    }
    #nav li:last-child {
        order: 3;
        flex: 1 auto;
        text-align: left;
        margin-left: 0.8em;
    }
    #nav img {
        margin-bottom: 1.2em;
    }
    #nav {
        margin-bottom: 2em;
    }
}




@media only screen and (max-width: 640px) {
    .wrapper{
        padding:1.6em;
    }
    #nav {
        font-size: 0.9em;
    }    
}

@media only screen and (max-width: 520px) {
    #mobile-nav {
        position: static;
        visibility: visible;
    }
    #mobile-nav .instagram {
        background-size:14px;
        background-repeat: no-repeat;
    }
    #nav {
        position:fixed;
        visibility: hidden;
        opacity: 0;
    }
    body {font-size:18px;}
    .marble-bg {
        padding-top:2em;
    }
    h1 {margin-bottom:1.6em;}
}











/** LAYOUT **/
@media only screen and (max-width:737px) {
    .main p {
        margin-bottom:1.6em;
    }
    .marble-bg {
        background-size: 750px;
    }
    
    #team div {
        display: block;
        margin: 0 0 1.6em 0;
        padding:0;
    }
    #team div:last-child {
        margin:0;
    }

}
    
    
    












/** BACKGROUND SIZES **/
@media only screen and (max-width: 1400px) {
    .marble-bg {
        background-size: 1000px;
    }
}
@media only screen and (max-width: 1220px) {
    .marble-bg {
        background-size: 800px;
    }
    .brandname {margin-bottom:0; display: block;}
    .separator {width:0; height:0; visibility: hidden; display: none;}
}

